.root {
  width: 100%;
  background-color: #161516;
  font-family: "Montserrat";
  font-style: normal;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 54px 0px 40px;
  }

  &__title {
    color: #fff;
    font-size: 31px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
  }

  &_cart {
    display: flex;
    align-items: center;
    gap: 20px;

    &__value {
      color: #fff;
      font-size: 17px;
      font-weight: 500;
      line-height: 21px;
      max-width: 150px;
      text-align: end;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(213, 140, 81, 1);
      border-radius: 100px;
      border: 1px solid rgba(213, 140, 81, 1);
      width: 50px;
      height: 50px;

      transition: background-color 0.25s ease;

      &:hover {
        background-color: rgba(213, 140, 81, 0);
      }
    }

    // &__icon {
    //   margin-bottom: 2px;
    // }
  }
}

.modal_root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #161516;
  max-height: 100%;

  & .nr_wrapper {
    padding-top: 54px;
    width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    &_back {
      width: 30px;
      height: 30px;
      margin-right: 64px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #d58c51;
      &:hover {
        border: 1px solid #ffffff;
      }

      & img {
        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }

    &_title {
      color: #fff;
      font-size: 31px;
      font-weight: 700;
      line-height: 38px;
      text-transform: uppercase;
    }
  }

  .modal_footer {
    border-top: 1px solid #d58c51;
    width: 100%;

    & .nr_wrapper {
      padding-block: 20px 28px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__text {
      font-weight: 400;
      font-size: 21px;
      line-height: 26px;
      /* identical to box height */

      text-transform: uppercase;

      color: #ffffff;
    }
    &__order_price {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      margin-left: 16px;

      color: #d58c51;
    }
    &__send_order {
      background: #d58c51;
      padding: 12px 40px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #131313;
    }
  }
}

.nr_wrapper {
  padding-inline: 290px;
}
