.header {
  height: 97px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &-logo {
    margin-right: 44.5px;
    width: 89.5px;
    height: 63px;
  }

  &-nav {
    height: 100%;
    margin-right: auto;
    &-list {
      display: flex;
      flex-direction: row;
      height: 100%;
      //   margin-left: 0; /* Отступ слева в браузере IE и Opera */
      //   padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */

      &:first-child {
        margin-left: 0px;
      }

      li {
        // list-style-type: none; /* Убираем маркеры */
        align-content: center;
        padding-left: 20px;
        display: flex;
        height: 100%;
        margin-left: 20px;
        padding: 0px;

        &:hover {
          border-top: 4px solid #ef7f04;
        }
      }
    }

    &-link {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      height: fit-content;
      align-self: center;

      li:hover & {
        color: #ef7f04;
      }
    }
  }

  &-controls {
    display: flex;
    flex-direction: row;
    margin-left: 20px;

    button:last-child {
      margin-left: 14px;
    }

    &-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: fit-content;
      width: fit-content;
      padding: 12px 19px 13px 14px;
      border: 0px;
      border-radius: 3px;

      &-text {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;

        color: #ffffff;
      }
    }
    &-icon {
      margin-right: 14px;

      button:hover & {
        path {
          stroke: #3b3a63;
        }
      }
    }
  }
}

.black {
  background: #3b3a63;

  &:hover {
    background: #2e2d57;
  }

  &:active {
    background: #1e1d48;
  }
}

.orange {
  background: #ef7f04;
  &:hover {
    background: #c86c0a;
  }

  &:active {
    background: #b36511;
  }
}
