@import "./header/header.scss";
@import "./services/services.scss";
// .nr-wrapper {
//   padding: 0px 360px;
// }
body {
  background-color: #f2f2f2;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  background: #ffffff;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  padding: 68px 360px 78px;
}
