@import "../mixin/fontStyle";
@import "../colors/colors";

.header {
  // @include fontProps(22px);
  display: flex;
  justify-content: center;
  margin: auto;
  background: $white;

  &__wrapper {
    height: 97px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    margin-right: 44.5px;
    width: 89.5px;
    height: 63px;
  }

  &-nav {
    height: 100%;
    margin-right: auto;
    &__list {
      display: flex;
      flex-direction: row;
      height: 100%;
      //   margin-left: 0; /* Отступ слева в браузере IE и Opera */
      //   padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */

      &:first-child {
        margin-left: 0px;
      }

      li {
        // list-style-type: none; /* Убираем маркеры */
        align-content: center;
        padding-left: 20px;
        display: flex;
        height: 100%;
        margin-left: 20px;
        padding: 0px;

        &:hover {
          border-top: 4px solid $orange;
        }
      }
    }

    &__link {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      height: fit-content;
      align-self: center;

      li:hover & {
        color: $orange;
      }
    }
  }

  &-controls {
    display: flex;
    flex-direction: row;
    margin-left: 20px;

    .btn:last-child {
      margin-left: 14px;
    }
  }
}
